%h1.text-3xl.mb-4= @play.title
- @play.scenes.each do |scene|
  %h2.block.text-xl.mt-4= scene.name
  .inline-block.mr-4= link_to 'READONLY', scene_path(scene)
  - scene.characters.each do |char|
    .inline-block.mr-4= link_to char.name, scene_path(scene, character_id: char.id)
