%h1= @scene.name
= render partial: 'characters/picker', locals: { scene: @scene, selected_char: @selected_char }
- @scene.lines.each do |line|
  %p
    %strong #{line.character.name}:
    - line.body.split("\n").each do |line_of_text|
      %div= line_of_text
